# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual Environment
venv/
env/
.env

# Large Datasets (GitHub push block hone se bachane ke liye)
PetImages/
cats_and_dogs_data/
*.zip
*.tar.gz

# OS specific
.DS_Store
Thumbs.db